.about{
  top: 100vh;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color:#E9EBEE;
  z-index:1;
  color: #697175;
  overflow: hidden;;
}
.about-header{
  margin-top:.5em;
  text-align: center;
  font-size: 8vw;
  font-family: audiowide;
}

.about-text{
  margin: auto;
  max-width: 30em;
  font-family: open sans;
  text-indent: 1em;
  font-size: 1.5em;
  padding: 1em;
}
.devMtn-link{
  color: #5E89EF;
  text-decoration: none;
}
.text{
  max-width: 85%;
  margin: auto;
  border: 1px solid #97A2A7;
  position: static;
  height: 70vh;
  overflow: scroll;
}
.aboutTarget{
  opacity: 1;
}
