.aboutContainer{
  background-color: #EEEEEE;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.about{
  padding: 1em;
  text-indent: 2em;
  width: 85%;
  margin: auto;
  background-color: #EEEEEE;
}
