*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
a{
  text-decoration: none;
  color: white;
}
#bg{
  text-shadow: 1px 1px 1px #000;
  width: 100vw;
  height: 100vh;
  background-color: rgb(110, 110, 110);
  background-image: url(https://static.pexels.com/photos/34676/pexels-photo.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}
ul{
  list-style: none;
}
.navContainer{
  z-index: 1;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 2em;
  border-bottom-left-radius:.5em;
  border-bottom-right-radius:.5em;
  background: rgba(255, 0, 0, 0.0);
  -webkit-transition:background .5s;
}
.navContainer-scroll{
  background:  rgba(25, 25, 25, 0.9);
  -webkit-transition:background .5s;
}
.nav{
  font-size: 1.3em;
  padding: 0;
  margin-top:.1em;
  color: white;
  font-family: open sans;
  cursor: pointer;
  border-bottom:0px solid white;
  -webkit-transition: border .2s;
}
.nav:hover{
  color: #D8D8D8;
  border-bottom:.2em solid white;
  border-radius: 5px;
  cursor: pointer;

  -webkit-transition: border .3s;
}
.smallNavContainer{
  z-index: 1;
  width: 100%;
  position: fixed;
  display:none;
  flex-direction: column;
  justify-content: center;
  /*border: 1px solid red;*/
}
.navDD{
  background: rgba(25, 25, 25, 0.9);
  margin: auto;
  border-bottom-left-radius:.5em;
  border-bottom-right-radius: .5em;
  border-bottom: .1em solid;
}
.fa-caret-down{
  width: 15vw;
  font-size: 5vh;
  color:white;
  text-align: center;
}
.fa-caret-up{
  width: 15vw;
  font-size: 5vh;
  color:white;
  text-align: center;
}
.ddNavs{
  background-color: rgba(25, 25, 25, 0.9);
  border-bottom-left-radius: .5em;
  border-bottom-right-radius:.5em;
  width: 100vw;
  margin: auto;
  text-align: center;
  display: none;
  position: relative;
}

.ddNav{
  border-top: .1em solid #242F43];
  width: 100vw;
  font-size: 6vw;
  padding: .3em;
  border-bottom:0px solid white;
  transition:border-bottom .2s;
}
.ddNav:hover{
  border-bottom: .2em solid white;
  border-bottom-left-radius: .5em;
  border-bottom-right-radius: .5em;

  transition: border-bottom .4s;
}
.bodyContainer{
  position: absolute;;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: oswald;
  text-align: center;
  top: 30vh;
}
.name{
  font-weight: lighter;
font-size: 15vw;
font-style: italic;
text-decoration: underline;
}
.slogan{
  font-size: 4vw;
}
cite{
  font-family: comic;
  font-weight: lighter;
}
.contact{
  font-family: open sans;
  position: fixed;
  bottom: .5em;
  right: .5em;
  background-image: linear-gradient(rgba(25, 25, 25, 0.7), rgba(50, 50, 50, 0.7));
}
.contact-button{
  padding: .2em;
  border-radius: .3em;
  color: white;
  border: 0px solid #697175;
  font-size: 1.5em;
  cursor: pointer;
}
.contact-info{
  /*display: none;*/
  flex-direction: column;
  color: white;
  justify-content: space-around;
  background-image: linear-gradient(rgba(50, 50, 50, 0.8), rgba(70, 70, 70, 0.8));
}
.contact-button:hover{
background-image: linear-gradient(rgba(50, 50, 50, 0.8), rgba(70, 70, 70, 0.8));
}
.info{
  font-size: 1.5em;

}
@media (orientation:portrait){

  .navContainer{
    display: none;
  }
  .smallNavContainer{
    display: flex;
  }
  .contact{
    width: 100vw;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
  }
  .contact-button{
    font-size: 2.8vh;
    border-top: .15em solid rgba(30,30,30,.2);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .contact-info{
      display: flex;
  }
  .info{
    border-top: .1em solid rgba(25, 25,25, 0.5);
  }
}
@media handheld and (orientation:portrait){
  .contact-button{
    font-size:
  }
}
@media (orientation:landscape){
}
