@font-face {
    font-family: devgothic;
    src: url(devgothic.ttf);
}
.navi:hover{
    color:rgb(135, 135, 135);

}
.centered{
    text-align: center;
}
.shadow{
    text-shadow: 3px 3px 5px rgb(161, 161, 255);
}
.img {
    height: 50%;
}
.goth{
    font-family: devgothic;
}
.about{
    font-size: 1.5em;
}
@media only screen and (min-width: 790px) {
    body{
        margin: 0;
        padding: 0;
        height: 100%;
        background: url('Me.png');
        background-size:contain;
        background-repeat:no-repeat;
        background-position: right;

    }
    .img {
        display: none;
    }
    .about{
        margin-top: 25%;
        text-align: left;
    }
}
@@media only screen and (minx-width:800px) {
}
